<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
</head>
<body>
<h1>Rental List</h1>
<a th:href="@{/admin/createRental}">New rental</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Customer_id</th>
            <th>Car_id</th>
            <th>Start_date</th>
            <th>End_date</th>
            <th>Total_price</th>
        </tr>
        <tr th:each="rental : ${rentals}">
            <td th:utext="${rental.id}">...</td>
            <td th:utext="${rental.customerId}">...</td>
            <td th:utext="${rental.carId}">...</td>
            <td th:utext="${rental.startDate}">...</td>
            <td th:utext="${rental.endDate}">...</td>
            <td th:utext="${rental.totalPrice}">...</td>
        </tr>
    </table>
</div>
</body>
</html>